.breadcrumb {
  //   background-image: url(..?images1/breadscrumb-thumb.jpg) !important;
  & > .container {
    padding-bottom: 20px;
    position: relative;
    padding-top: 20px;
    min-height: 60px;
  }

  .title h1 {
    color: white;
  }

  &-list {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0px;
    padding: 0;
    .divider {
      position: relative;
      top: 0;
      opacity: 0.35;
      margin: 0 0.3em;
      font-weight: 300;
    }
  }
}
